{% extends 'base_layout.html'%} {% block content %}
<!-- <h1><a href="{% url 'projets:list' %}">Liste des projets</a></h1> -->
{% if user.is_authenticated %}
<h2><a href="{% url 'projets:create' %}">Ajouter un projet</a></h2>
{% endif %}

<div class="projets">
    {% for projet in projets %}
    <div class="article">
        <h2><a href="{% url 'projets:detail' slug=projet.slug %}">{{projet.name}}</a></h2>
        <img src="{{projet.image_url}}" alt="">
        <p>{{projet.snippet}}</p>
        <p>{{projet.date}}</p>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}