{% extends 'base_layout.html'%} {% block content %}
<div class="edit-projet">
    <h2>Editer un projet</h2>
    <form action="" method="post">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Editer">
    </form>
</div>
<script src="/static/slugify.js "></script>

{% endblock %}