{% extends 'base_layout.html'%} {% block content %}
<div class="create-projet">
    <h2>Créer un projet</h2>
    <form action="{% url 'projets:create' %}" method="post">
        {% csrf_token %} {{form}}
        <input type="submit" value="Créer">
    </form>
</div>
<script src="/static/slugify.js"></script>
{% endblock %}