{% extends 'base_layout.html'%} {% block content %}
<h1><a href="{% url 'projets:list' %}">Liste des projets</a></h1>

<div class="article-detail">
    <div class="article">
        <h2>{{projet.name}}</h2>
        <img src="{{projet.image_url}}" alt="">
        <p>{{projet.description}}</p>
        <p>{{projet.technology}}</p>
        <p>{{projet.repo_url}}</p>
        <p>{{projet.website_url}}</p>
        <p>{{projet.date}}</p>
        {% if user.is_authenticated %}
        <h3><a href="{% url 'projets:edit' slug=projet.slug %}">Editer</a></h3>
        <h3><a href="{% url 'projets:delete' slug=projet.slug %}">Supprimer</a></h3>
        {% endif %}
    </div>
</div>
{% endblock %}