{% extends 'base_layout.html'%} {% block content %}
<!--<h1><a href="{% url 'articles:list' %}">Liste des articles</a></h1>-->

<div class="articles">
    {% for article in articles %}
    <div class="article">
        <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
        <img src="{{article.image_url}}" alt="">
        <p>{{article.snippet}}</p>
        <p>{{article.date}}</p>
        <hr>
    </div>
    {% endfor %}
</div>
{% endblock %}