{% extends 'base_layout.html'%} {% block content %}
<h1><a href="{% url 'articles:list' %}">Liste des articles</a></h1>

<div class="article-detail">
    <div class="article">
        <h2>{{article.title}}</h2>
        <img src="{{article.image_url}}" alt="">
        <p>{{article.description}}</p>
        <p>{{article.date}}</p>
        <p>{{article.author}}</p>
    </div>
</div>
{% endblock %}