{# {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>My Wonderful Project</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-grid/bootstrap-grid.min.css' %}" />
</head>

<body>

    <div id="wrapper">

        <header id="header">
            <h1><a href="/">Abdellah Skoundri</a></h1>
            <nav class="links">
                <ul>
                    <li><a href="/projets">Projets</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            {% if user.is_authenticated %}
            <nav class="links">
                <ul>
                    <li class="">
                        <a class="" href="/admin">Administration</a>
                    </li>
                </ul>
            </nav>
            {% endif %}
        </header>

        <!-- 
            <div class="block">
            {% block content %} {% endblock %}
            </div> 
        -->
        <div class="row">

            <div class="col-sm-3">
                <section id="sidebar">

                    <!-- Intro -->
                    <section id="intro">
                        <a href="#" class="logo"><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                        <header>
                            <h2>Abdellah Skoundri</h2>
                            <p>Développeur web et web mobile</p>
                        </header>
                    </section>

                    <!-- About -->
                    <section class="blurb">
                        <h2>About</h2>
                        <p>Efficace, plein d’entrain et toujours de bonne humeur. Je m’applique à ce que mon espace de travail et mes relations avec mes collaborateurs soient agréables et vitaminés tout en restant professionnels.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </section>

                    <!-- Mini Posts -->
                    <section>
                        <div class="mini-posts">

                            <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="single.html">Vitae sed condimentum</a></h3>
                                    <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                    <a href="#" class="author"><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                                </header>
                                <a href="single.html" class="image"><img src="{% static '/images/pic04.jpg' %}" alt="" /></a>
                            </article>

                            <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="single.html">Rutrum neque accumsan</a></h3>
                                    <time class="published" datetime="2015-10-19">October 19, 2015</time>
                                    <a href="#" class="author"><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                                </header>
                                <a href="single.html" class="image"><img src="{% static '/images/pic05.jpg' %}" alt="" /></a>
                            </article>

                            <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="single.html">Odio congue mattis</a></h3>
                                    <time class="published" datetime="2015-10-18">October 18, 2015</time>
                                    <a href="#" class="author"><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                                </header>
                                <a href="single.html" class="image"><img src="{% static '/images/pic06.jpg' %}" alt="" /></a>
                            </article>

                            <!-- Mini Post -->
                            <article class="mini-post">
                                <header>
                                    <h3><a href="single.html">Enim nisl veroeros</a></h3>
                                    <time class="published" datetime="2015-10-17">October 17, 2015</time>
                                    <a href="#" class="author"><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                                </header>
                                <a href="single.html" class="image"><img src="{% static '/images/pic07.jpg' %}" alt="" /></a>
                            </article>

                        </div>
                    </section>

                    <!-- Posts List -->
                    <section>
                        <ul class="posts">
                            <li>
                                <article>
                                    <header>
                                        <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                                    </header>
                                    <a href="single.html" class="image"><img src="{% static '/images/pic08.jpg' %}" alt="" /></a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <header>
                                        <h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
                                        <time class="published" datetime="2015-10-15">October 15, 2015</time>
                                    </header>
                                    <a href="single.html" class="image"><img src="{% static '/images/pic09.jpg' %}" alt="" /></a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <header>
                                        <h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
                                        <time class="published" datetime="2015-10-10">October 10, 2015</time>
                                    </header>
                                    <a href="single.html" class="image"><img src="{% static '/images/pic10.jpg' %}" alt="" /></a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <header>
                                        <h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
                                        <time class="published" datetime="2015-10-08">October 8, 2015</time>
                                    </header>
                                    <a href="single.html" class="image"><img src="{% static '/images/pic11.jpg' %}" alt="" /></a>
                                </article>
                            </li>
                            <li>
                                <article>
                                    <header>
                                        <h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
                                        <time class="published" datetime="2015-10-06">October 7, 2015</time>
                                    </header>
                                    <a href="single.html" class="image"><img src="{% static '/images/pic12.jpg' %}" alt="" /></a>
                                </article>
                            </li>
                        </ul>
                    </section>


                    <!-- Footer -->
                    <section id="footer">
                        <ul class="icons">
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
                    </section>

                </section>

            </div>

            <div class="col-sm-9">
                <!-- Post -->
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="single.html">Magna sed adipiscing</a></h2>
                            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="2015-11-01">November 1, 2015</time>
                            <a href="#" class="author"><span class="name">Jane Doe</span><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                        </div>
                    </header>
                    <a href="single.html" class="image featured"><img src="{% static '/images/pic01.jpg' %}" alt="" /></a>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent
                        tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
                    <footer>
                        <ul class="actions">
                            <li><a href="single.html" class="button large">Continue Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="#">General</a></li>
                            <li><a href="#" class="icon solid fa-heart">28</a></li>
                            <li><a href="#" class="icon solid fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>

                <!-- Post -->
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="single.html">Ultricies sed magna euismod enim vitae gravida</a></h2>
                            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="2015-10-25">October 25, 2015</time>
                            <a href="#" class="author"><span class="name">Jane Doe</span><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                        </div>
                    </header>
                    <a href="single.html" class="image featured"><img src="{% static '/images/pic02.jpg' %}" alt="" /></a>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper.</p>
                    <footer>
                        <ul class="actions">
                            <li><a href="single.html" class="button large">Continue Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="#">General</a></li>
                            <li><a href="#" class="icon solid fa-heart">28</a></li>
                            <li><a href="#" class="icon solid fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>

                <!-- Post -->
                <article class="post">
                    <header>
                        <div class="title">
                            <h2><a href="single.html">Euismod et accumsan</a></h2>
                            <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
                        </div>
                        <div class="meta">
                            <time class="published" datetime="2015-10-22">October 22, 2015</time>
                            <a href="#" class="author"><span class="name">Jane Doe</span><img src="{% static '/images/avatar.jpg' %}" alt="" /></a>
                        </div>
                    </header>
                    <a href="single.html" class="image featured"><img src="{% static '/images/pic03.jpg' %}" alt="" /></a>
                    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent
                        tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.</p>
                    <footer>
                        <ul class="actions">
                            <li><a href="single.html" class="button large">Continue Reading</a></li>
                        </ul>
                        <ul class="stats">
                            <li><a href="#">General</a></li>
                            <li><a href="#" class="icon solid fa-heart">28</a></li>
                            <li><a href="#" class="icon solid fa-comment">128</a></li>
                        </ul>
                    </footer>
                </article>
            </div>
        </div>

    </div>

</body>

</html> #}