{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>My Wonderful Project</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/bootstrap-grid/bootstrap-grid.min.css' %}" />

</head>

<body>

    <header id="header">
        <h1><a href="/">Abdellah Skoundri</a></h1>
        <nav class="links">
            <ul>
                <li><a href="/projets">Projets</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        {% if user.is_authenticated %}
        <nav class="links">
            <ul>
                <li class="">
                    <a class="" href="/admin">Administration</a>
                </li>
            </ul>
        </nav>
        {% endif %}
    </header>

    <div id="wrapper">
        <div class="container">
            <div class="row">
                <section>
                    <h3>Me contacter</h3>
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="" id="demo-name" value="" placeholder="Name" />
                            </div>
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="" id="demo-name" value="" placeholder="Prenom" />
                            </div>
                            <div class="col-12">
                                <input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" />
                            </div>
                            <div class="col-12">
                                <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="Send Message" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="row align-items-center">
                <div class="col-6">
                    <section id="footer">
                        <ul class="icons">
                            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
                            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                        </ul>
                        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>